*{
  margin:0px;
  padding: 0px;
  box-sizing:border-box;
}
.clr-picker{
	position: absolute;
	top: 230px;
	left:600px;
}

input[type="text"]{
/*	border-left:none;
	border-right: none;
	border-top:none;
	outline: none;
	width:60px;*/

	background-color:black;
	color:white;
    outline: none;
	border-radius:12px 12px 12px 12px;
	height:30px;
	width:65px;
	border-color:green;
}
input[type="color"]{
	height:100px;
	width:100px;
	outline: none;
}
h1{
	margin-top:20px;
}